@model BL.DTO.TournamentDTO
@{
    ViewBag.Title = "Export";
}

<h2>Data has been exported from the <b>@Model.TournamentName</b> in XML format and placed in your Documents folder.</h2>
<p>
    @Html.ActionLink("Back to Tournaments list", "../Tournament/Tournaments")
</p>

