@{
    ViewBag.Title = "Tournament Manager";
}
<div class="jumbotron" style="background-color: purple">
    <h1 style="font-family: 'bebas neue'; color: white"><b>Tournament</b> <bzd style="font-size: 60%">Manager</bzd></h1>
    <p class="lead" style="color: white">A simple tournament manager to help you manage your tournament!</p>
    <p><a href="/Account/Login" class="btn btn-success btn-lg">Click here to start managing! &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Step One</h2>
        <p>
            Register into the system as an admin (You probably know the admin phrase already, right?)
        </p>
        <p>
            If not, it's a famous drink named for a small tropical communist paradise. (Written together, in CamelCase).
        </p>
        <p>
            <a class="btn btn-success" href="/Account/Register">Register &raquo;</a>
        </p>
    </div>
    <div class="col-md-3">
        <h2>Step Two</h2>
        <p>Create some teams for your tournament!</p>
        <p><a class="btn btn-success" href="/Team/Teams">Create some Teams &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Step Three</h2>
        <p>Create some players and get your teams packed with 'em!</p>
        <p><a class="btn btn-success" href="Player/Players" >Create some Players &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Step Four</h2>
        <p>Create your tournament and get started managing it!</p>
        <div style="bottom: 0; margin-bottom: 0;">
            <p>
                <a class="btn btn-success" href="Tournament/Tournaments">Create some Tournaments &raquo;</a>
            </p>
        </div>
    </div>
</div>