@model BL.DTO.TournamentDTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4><b>Tournament Name</b> : @Html.DisplayFor(model => model.TournamentName)</h4>
    <h4><b>Tournament Size</b> : @Html.DisplayFor(model => model.TournamentSize)</h4>
    <br>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Tournaments")
</p>
